h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21pt;
    color: black;
}

.contenedorH1{
    padding: 26px;
    margin: 14px;
    width: 181px;
    margin-top: 124px;
    margin-left: 25px;
    height: 148px;
    background-color: transparent;
}

.fondo{
    height: 50px;
    width: 60px;
}

html{
    background-image: url(./Imagenes/FondoSitioWeb.jpg);
    background-size: 360px;
    background-repeat: no-repeat;
}