h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21pt;
    color: black;
}

.contenedorH1{
    padding: 26px;
    margin: 14px;
    width: 181px;
    margin-top: 124px;
    margin-left: 25px;
    height: 148px;
    background-color: transparent;
}

.seccion-con-fondo{
    background-image: url(./Imagenes/FondoSitioWeb.jpg);
    background-size: 390px 100%;
    background-repeat: no-repeat;
}

html{
    background-image: url(./Imagenes/FondoSitioWeb.jpg);
    background-size: 390px 100%;
    background-repeat: no-repeat;
}
.textoH1{
    width: 128px;
    height: 70px;
    padding: 7px;
    margin-left: 50px;
    margin-bottom: 101px;
    padding-bottom: 34px;
    border: 51px;
    justify-content: flex-start;
    margin-top: -87px;
    max-width: 360px;
}
p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

